body {background-color: white;}

h1  {font-family: Georgia, serif;}
h3 {font-family: Arial, Helvetica, sans-erif;
    font-variant: small-caps;}

#container {background-color: lightgray;
            padding: 20px;
            margin: 0 auto;
            border: 1px solid black;
            width: 900px;}

#left_header {background-color: blue;
               padding: 10px;
               margin: 0 auto;
               float: left;
               height: 150px;
               border-top: 1px solid black;
               border-left: 1px solid black;
               border-bottom: 1px solid black;}

#header {background-color:blue;
         color: white;
         padding: 10px;
         margin: 0 auto;
         width: 537px;
         height: 150px;
         float: left;
         border-top: 1px solid black;
         border-left: 1px solid black;
         border-bottom: 1px solid black;
         text-align: center;}

#right_header {background-color: blue;
               padding: 10px;
               margin: 0 auto;
               float: left;
               height: 150px;
               border-top: 1px solid black;
               border-left: 1px solid black;
               border-bottom: 1px solid black;}

#main {background-color: white;
       color: black;
       padding: 10px;
       margin: 0 auto;
       border-left: 1px solid black;
       border-right: 1px solid black;}

#footer {background-color: red;
         color: white;
         padding: 10px;
         margin: 0 auto;
         border: 1px solid black;
         text-align: center;
         font-family: Arial, helvetica, sans-serif;
         font-variant: small-caps;}

#nav {width: 898px;
      float: left;
      margin: 0 0 1cm 0;
      padding: 0;
      list-style: none;
      background-color: #f2f2f2;
      border: 1px solid black;}

#nav li {float: left;}

#nav li a {display: block;
           padding: 8px 15px;
           text-decoration: none;
           font-weight: bold;
           color: #069;
           border-right: 1px solid #ccc;}

#nav li a:hover {color: #c00;
                 background-color: #fff;}

.deletedItem {color: red;
              font-style: italic;
              text-align: center;}

.validationError {color: red;
                  font-weight:bold;}